.header {
    background: linear-gradient(0deg, rgba(241,158,245,1) 0%, rgba(155,236,224,1) 100%);   
    height: 170px;
    display: flex;
}

.logo {
    padding: 10px;
    height: 150px;
}

.title {
    margin: auto;
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 24px;
}